*{
    margin: 0 auto;
    
}
body{
    
    font-size: 21px;
    box-sizing: border-box;
    background-color: #242527;

}
.color_text{
    color: #E4F5FF;
}
header{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    max-width: 1500px;
}

.women{
    font-size: 3.5rem;
    width: 176px;
    
    
    
}
.logo_text{
    font-size: 0.7rem;
    font-family: 'Lemon', serif;
    
    position: relative;
    left: 63px;
    bottom: 12px;
}
.link{
    
    position: relative;
    left: 25px;
    bottom: -25px;

}
header div a{
    color: #FBFCFF;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
}
header div a:hover{
    font-size: 22px;
    text-decoration: underline;
}
.sign_up{
    background-color: #242527;
    color: #FBFCFF;
    border: 1px solid #E4F5FF;
    width: 95px;
    display: inline-block;
    text-align: center;
    font-size: 25px;
}
.wraper{
    display: flex;
    align-items: center;
    max-width: 1500px;
    
}

.footer{
    display: flex;
    padding-bottom: 30px;
    max-width: 1500px;
}

.footer_link{
    text-decoration: none;
    
}
.footer_link:hover{
    text-decoration: underline;
    font-size: 22px;
}
.card{
    display: flex;
    padding-top: 160px;
    max-width: 1500px;
}
.card2{
    display: flex;
    max-width: 1500px;
}
.card3{
    display: flex;
    max-width: 1500px;
}
.bacground_width{
    background-repeat: no-repeat;
    width: 240px;
    height: 310px;
}
.Marjorie_Howard{
    background-image: url("../img/Rectangle\ 1.png");
    background-repeat: no-repeat;
    width: 240px;
    height: 310px;
}
.Leslie_Edwards{
    background-image: url("../img/Rectangle\ 2.png");
    
}
.Rosemary_Wilson{
    background-image: url("../img/Rectangle\ 3.png");
    
}
.Lee_Robertson{
    background-image: url("../img/Rectangle\ 4.png");
    
}
.Tyrone_Flores{
    background-image: url("../img/Rectangle\ 5.png");
    
}
.Angel_Richards{
    background-image: url("../img/Rectangle\ 6.png");
    
}
.Soham_Russell{
    background-image: url("../img/Rectangle\ 7.png");
    
}
.Marjorie_Henry{
    background-image: url("../img/Rectangle\ 8.png");
    
}
.Brandie_Lane{
    background-image: url("../img/Rectangle\ 9.png");
    
}
.Brooklyn_Nguyen{
    background-image: url("../img/Rectangle\ 10.png");
    
}
.Wade_Webb{
    background-image: url("../img/Rectangle\ 11.png");
    
}
.Shane_Watson{
    background-image: url("../img/Rectangle\ 12.png");
   
}
.Ralph_Hawkins{
    background-image: url("../img/Rectangle\ 13.png");
   
}
.Theresa_Bell{
    background-image: url("../img/Rectangle\ 14.png");
    
}
.Evan_Steward{
    background-image: url("../img/Rectangle\ 15.png");
    
}
.name{
    font-size: 18px;
    font-family: 'Lemon', serif;
}
.city{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.card_link{
    font-size: 13px;
    font-family: 'Roboto', sans-serif ;
}
.text{
    border-radius: 0px 0px 16px 16px;
    background: rgba(0, 0, 0, 0.70);
    display: block;
    width: 201px;
    position: relative;
    top: 188px;
    padding: 5px;
    left: 1px;
}


    

